body {
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
}
.inpur {
    border-radius: 30px;
    border: none;
background-color: aquamarine;
padding: 10px 20px 10px;
transition: all 0.3s ease;
}
.butto {
    position: relative;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px 10px 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 10px;
    box-shadow: 0 10px 20px black;
}
.butto:active {
    transform: translateY(5px);
}
.inpur:hover {
 transform: scale(1.03);
 background-color: rgb(255, 255, 255);
 border: 2px solid aliceblue;
}
.bum {
    color: white;
    background-color: red;
    border-radius: 30px;
    box-shadow: 0 10px 20px black;
    border: 2px solid white;
}