.avatar {
   font-family: 'Times New Roman', Times, serif;
   border-radius: 10px;
   color: red;
   text-shadow: 20px black;
}
.Itsuki {
    border-radius: 50px red;
    box-shadow: 0 20px 40px black;
}